/* Classes */
.float-left {
	float: left;
}
.right {
	text-align: right;
}
.float-right, .css_right {
	float: right;
}
.center {
	text-align: center;
}
.strike {
	text-decoration: line-through;
}
a.fg-button {
	float: left;
}
.fg-toolbar {
	padding: 3px;
}
.indent {
	text-indent: 15px;
}
.searchable {
	cursor: help;
}
/* Element Formatting */
fieldset {
	margin: 5px 0 0 0;
	padding-top: 0.5em;
	float: left;
	clear: both;
}
fieldset * {
	font-size: 14pt;
}
fieldset legend {
	font-weight: bold;
	font-size: 16pt;
}
div.dynamic label, div label {
	display: block;
	float: left;
	padding: 3px 5px;
	text-align: right;
	vertical-align: top;
}

ul li {
	margin: 1px;
	padding: 2px;
}

ul.condensed li {
	float: left;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 2px;
	padding: 2px;
	position: relative;
}
/**************************************************************************/
/* Color Rules */
tr.green td, .green {
	background-color: #9f9;
}
tr.red td, .red {
	background-color: #fcc;
}
tr.blue td, .blue {
	background-color: #9cf;
}
tr.orange td, .orange {
	background-color: #ffAf7f;
}
tr.yellow td, .yellow {
	background-color: #fc9;
}
tr.gray td, .gray {
	background-color: #ddd;
}
/**************************************************************************/
/* Utility Rules */
.dm-button-green {
	background-color: #afa;
	border: 1px solid #090;
	color: #090;
	padding-left: 3px;
	padding-right: 3px;
}
.dm-button-gray {
	background-color: #e0e0e0;
	color: #666;
	border: 1px solid #ccc;
	padding-left: 3px;
	padding-right: 3px;
}
.dm-button-red {
	background-color: #FEF1EC;
	border: 1px solid #CD0A0A;
	color: #CD0A0A;
	padding-left: 3px;
	padding-right: 3px;
}
.dm-graph-pie {
	float: left;
	padding: 5px;
	height: 150px;
	width: 150px;
}
.dm-box {
	border: 1px solid #ccc;
}
.sys {
	font-family: fixed;
	font-size: 8pt;
	color: #333;
}
.debug {
	float: left;
	clear: both;
	border: dashed 1px #600;
	color: #600;
	padding: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.nav {
	background-color: #BDD2FF;
}
/**************************************************************************/
